* {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
}

header{
  background-image: url("../images/nordic_bar.jpeg");
  background-size: cover;
  height: 800px;
  position: relative;
}

nav {
  position: absolute;
  right: 20px;
  top: 20px;
}

nav a{
  color: #ccc;
  text-transform: uppercase;
  text-decoration: none;
}

nav a:hover{
  color: #fff;


}
nav ul{
  list-style: none;
}

nav li{
  text-decoration: none;
  float:left;
  border-right: 1px solid #fff;
  padding: 0 10px;
}

nav li:last-child{
  border-right: none;
}

#header_content {
  color: #ccc;
  width: 100%;
}

#header_title {
  width: 550px;
  font-size: 55px;
  margin: 0 auto;
  padding: 200px 0 0 0;
  font-weight: bold;
}

#header_button{
  width:500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;

}

#header_button a{
  padding: 8px 30px;
  background-color: #243F5D;
  color: #ccc;
  text-decoration: none;
  font-size: 20px;
  border-radius: 3px;
  text-transform: uppercase;

}

#header_button a:hover{
  color: white;
}
