@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.57);
}
a{
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

@media all and (max-width: 1200px) {
  #right{display: none;}
}

@media all and (max-width: 600px) {
  #logo{display:none;}
  footer{display: none;}
}

@media all and (max-width: 500px) {
  #header_button{display: none;}
  article{font-size: 14px;}
  td h2{font-size: 18px;}
  #content{max-width: 400px;}
  #bottom{min-width: 500px;}
}

h1{
  font-size: 28px;
}

h2{
  font-size: 22px;
}
header {
  background-image: url(../images/nordic_bar2.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  height: 100%;
  height:auto;
  min-width: 100%;
}


#logo {
  background-image: url(../images/Valhal.png);
  height: 120px;
  width: 190px;
  background-size: contain;
  background-repeat: no-repeat;
  left: 45px;
  top: 20px;
  position: relative;
  float: left;
}

nav {
  position: absolute;;
  right: 45px;
  top: 20px;

}

nav a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

nav a:hover {
  color: #bbb;
}

nav ul {
  list-style: none;
}

nav li {
  text-decoration: none;
  float: left;
  border-right: 1px solid #fff;
  padding: 0 10px;
}

nav li:last-child {
  border-right: none;
}


#header_content {
  color: #fff;
  width: 100%;
}
#header_title {
  width: 250px;
  font-size: 80px;
  margin: 0 auto;
  padding: 350px 0 0 0;
  font-weight: bold;
}

#content {
  max-width: 450px;
  font-size: 16px;
  margin: 0 auto;
  padding: 250px 0 0 0;
}

article{
  min-width: 50%;
  margin: 0 auto;
}

#iArticle{
  margin: 0;
  padding:  45px;
  color: #fff;
  max-width: 25%;
  min-width: 200px;

}
#header_button {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}

#header_button a {
  padding: 8px 30px;
  background-color: #243F5D;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  border-radius: 3px;
  text-transform: uppercase;
}

#header_button a:hover {
  color: #bbb;
}
section#right{
  padding:100px 60px;
  float: right;

}


section#bottom {

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(../images/wood.png);
  min-height: 100%;
  height: 100%;
  height:auto;
  min-width: 100%;

}


footer {
  height: 60px;
  max-height: 10%;
  background-color: rgba(0, 0, 0, 0.57);
  float: left;
  width: 100%;
}


#footText {
  width: 500px;
  color: #fff;
  margin: 20px 45px;
}

#easv {
  background-image: url(../images/easv.png);
  height: 60px;
  width: 196px;
  background-repeat: no-repeat;
  background-position: right;
  float: right;
  margin: 0px 45px;
}

#facebook, #instagram, #youtube {
  margin-right: 50px;
  margin-top: 15px;
  float: right;
}

#mic{
  height: 400px;
  width: 400px;
  background-repeat: no-repeat;
  background-image: url(../images/mikrofon.jpg);
}

#beer{
  height: 400px;
  width: 400px;
  background-repeat: no-repeat;
  background-image: url(../images/beer.png);
}
